name: Deploy Prd

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 3 * * 4" # Thursday 3am UTC

permissions:
  contents: read
  id-token: write

concurrency:
  group: ${{ github.workflow }}

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: frasermolyneux/actions/dotnet-func-ci@main
        with:
          dotnet-project: "XtremeIdiots.Portal.Sync.App"
          dotnet-version: 9.0.x
          src-folder: "src"

  terraform-plan-and-apply-dev:
    environment: Development
    needs: build-and-test
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.repository }}-dev
    steps:
      - uses: frasermolyneux/actions/terraform-plan-and-apply@main
        with:
          terraform-folder: "terraform"
          terraform-var-file: "tfvars/dev.tfvars"
          terraform-backend-file: "backends/dev.backend.hcl"
          AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - id: terraform-output-dev
        shell: bash
        run: |
          cd terraform
          echo "function_app_name=$(terraform output -raw function_app_name)" >> $GITHUB_OUTPUT
          echo "resource_group_name=$(terraform output -raw resource_group_name)" >> $GITHUB_OUTPUT
        env:
          ARM_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
          ARM_USE_AZUREAD: true
          ARM_USE_OIDC: true

    outputs:
      function_app_name: ${{ steps.terraform-output-dev.outputs.function_app_name }}
      resource_group_name: ${{ steps.terraform-output-dev.outputs.resource_group_name }}

  function-app-deploy-dev:
    environment: Development
    needs: [build-and-test, terraform-plan-and-apply-dev]
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.repository }}-dev
    steps:
      - uses: frasermolyneux/actions/deploy-function-app@main
        with:
          function-app-artifact-name: "XtremeIdiots.Portal.Sync.App"
          function-app-name: ${{ needs.terraform-plan-and-apply-dev.outputs.function_app_name }}
          function-app-resource-group: ${{ needs.terraform-plan-and-apply-dev.outputs.resource_group_name }}
          AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}

  terraform-plan-and-apply-prd:
    environment: Production
    needs: function-app-deploy-dev
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.repository }}-prd
    steps:
      - uses: frasermolyneux/actions/terraform-plan-and-apply@main
        with:
          terraform-folder: "terraform"
          terraform-var-file: "tfvars/prd.tfvars"
          terraform-backend-file: "backends/prd.backend.hcl"
          AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - id: terraform-output-prd
        shell: bash
        run: |
          cd terraform
          echo "function_app_name=$(terraform output -raw function_app_name)" >> $GITHUB_OUTPUT
          echo "resource_group_name=$(terraform output -raw resource_group_name)" >> $GITHUB_OUTPUT
        env:
          ARM_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
          ARM_USE_OIDC: true
          ARM_USE_AZUREAD: true

    outputs:
      function_app_name: ${{ steps.terraform-output-prd.outputs.function_app_name }}
      resource_group_name: ${{ steps.terraform-output-prd.outputs.resource_group_name }}

  function-app-deploy-prd:
    environment: Production
    needs: [build-and-test, terraform-plan-and-apply-prd]
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.repository }}-prd
    steps:
      - uses: frasermolyneux/actions/deploy-function-app@main
        with:
          function-app-artifact-name: "XtremeIdiots.Portal.Sync.App"
          function-app-name: ${{ needs.terraform-plan-and-apply-prd.outputs.function_app_name }}
          function-app-resource-group: ${{ needs.terraform-plan-and-apply-prd.outputs.resource_group_name }}
          AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
